.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 0px 20px;
  background-color: #2fb56b;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.25fr -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr 0.25fr;
  -ms-grid-columns: 0.25fr max-content max-content max-content 0.25fr 0.25fr;
  grid-template-columns: 0.25fr -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr 0.25fr;
  grid-template-columns: 0.25fr max-content max-content max-content 0.25fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.form-block {
  position: static;
}

.footer {
  width: auto;
  min-width: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-right: 1px none #fff;
  background-color: #424143;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 350px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 0px;
  border-right: 1px none #000;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  border-left: 1px none #fff;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.div-block {
  display: block;
  min-width: 300px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.div-block-2 {
  margin-left: 1px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-3 {
  margin-right: 20px;
  padding-right: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph {
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  font-size: 13.6px;
  text-align: center;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  margin: 20px 5px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13.6px;
  text-align: center;
}

.button {
  width: auto;
  margin-top: 20px;
  margin-left: 0px;
  padding: 10px;
  background-color: #2a2a2b;
  font-size: 20px;
  text-align: center;
}

.button.read-more-button {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  cursor: pointer;
}

.button.read-more-button:hover {
  background-color: #d5d5d5;
  color: #424143;
}

.button.subscribe-btn {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: #2a2a2b;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.button.subscribe-btn:hover {
  background-color: #d5d5d5;
  color: #424143;
}

.list-item {
  text-align: center;
}

.columns {
  margin: 48px 80px;
}

.card-grid {
  position: static;
  right: 0px;
  z-index: auto;
  overflow: hidden;
  height: 228px;
  padding: 16px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 27.5px;
  text-align: center;
}

.body {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
}

.text-block {
  position: relative;
  margin-top: 16px;
  font-family: Anton, sans-serif;
  color: #424143;
}

.button-2 {
  margin-top: 19px;
  background-color: #2fb56b;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.button-2:hover {
  background-color: #164b3e;
}

.country-info {
  margin-top: 118px;
  margin-bottom: 0px;
  padding-bottom: 44px;
  border-style: none;
  border-width: 1px;
  border-color: #000 #2b2b2b #000 #000;
  font-size: 22.4px;
}

.country-info.resources {
  margin-top: 40px;
}

.bold-text {
  position: static;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 18.24px;
  line-height: 30px;
  font-weight: 800;
}

.text-field {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 30px 0px 30px 100px;
}

.grid {
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  -ms-grid-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 1fr;
  grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  width: 100%;
  height: auto;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-grid-columns: 0.25fr 0.75fr 0.5fr;
  grid-template-columns: 0.25fr 0.75fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Anton, sans-serif;
}

.list-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  list-style-type: none;
}

.list-item-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading {
  background-color: transparent;
  color: #fff;
}

.list-item-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-item-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-item-6 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-item-7 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-2 {
  color: #fff;
}

.heading-3 {
  color: #fff;
}

.heading-4 {
  color: #fff;
}

.image {
  max-width: 60%;
  margin: auto auto auto 0px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-5 {
  margin-bottom: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6 {
  width: 100%;
  -ms-grid-columns: 1fr 1.2fr 1fr;
  grid-template-columns: 1fr 1.2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.grid-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-10 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.list-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.list-item-8 {
  width: 60px;
  list-style-type: none;
}

.list-item-9 {
  width: 40px;
  list-style-type: none;
}

.list-item-10 {
  width: 40px;
  list-style-type: none;
}

.list-item-11 {
  width: 40px;
  list-style-type: none;
}

.image-2 {
  margin-right: 0px;
  padding-right: 0px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.image-2:hover {
  box-shadow: 1px 1px 3px 0 #000;
}

.contry-section {
  overflow: hidden;
  max-width: 1100px;
  margin-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
}

.text-block-4 {
  font-family: Montserrat, sans-serif;
}

.text-block-5 {
  font-family: Montserrat, sans-serif;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
}

.grid-11 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-12 {
  grid-row-gap: 0px;
  grid-template-areas: "."
    "."
    "."
    "."
    "."
    "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 14px 0px 40px 0px 14px 0px 40px 0px 14px 0px 40px;
  grid-template-rows: 14px 40px 14px 40px 14px 40px;
  border-right: 1px none #ccc7c7;
  text-align: left;
}

.text-block-7 {
  border-right: 1px none #030303;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.text-block-8 {
  font-family: Montserrat, sans-serif;
  color: green;
  font-size: 22.4px;
}

.text-block-9 {
  height: auto;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
  white-space: normal;
}

.grid-13 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.italic-text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.italic-text-2 {
  font-family: Montserrat, sans-serif;
  font-size: 22.4px;
  font-weight: 400;
}

.text-block-10 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.grid-14 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-11 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.div-block-5 {
  border-right: 1px solid #ccc7c7;
}

.italic-text-3 {
  color: #2fb56b;
}

.text-block-12 {
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.text-block-13 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.text-block-14 {
  color: #2fb56b;
  font-size: 22.4px;
}

.italic-text-4 {
  font-family: Montserrat, sans-serif;
}

.text-block-15 {
  font-family: Montserrat, sans-serif;
  font-size: 22.4px;
}

.text-block-16 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.grid-15 {
  grid-auto-flow: row;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.text-block-17 {
  font-family: Montserrat, sans-serif;
}

.text-block-18 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 20.4px;
}

.text-block-19 {
  font-family: Montserrat, sans-serif;
}

.text-block-20 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 20.4px;
}

.text-block-21 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
}

.text-block-22 {
  font-family: Montserrat, sans-serif;
}

.text-block-23 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.county {
  height: auto;
  max-width: none;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  font-family: Anton, sans-serif;
  color: #424143;
  font-size: 32px;
  letter-spacing: normal;
  -o-object-fit: contain;
  object-fit: contain;
}

.nav-container {
  max-width: 1100px;
  padding-right: 8%;
  padding-left: 8%;
}

.select-field {
  max-width: 240px;
  margin: auto 0px auto auto;
  font-family: Anton, sans-serif;
}

.range-grid {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100fr;
  grid-template-rows: 100fr;
}

.county-range-values {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.county-last-updated {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 15px;
}

.text-block-28 {
  font-size: 40px;
}

.description {
  margin-top: 16px;
  font-family: Montserrat, sans-serif;
  color: #424143;
  font-size: 18px;
  font-weight: 400;
}

.description.country-decription {
  color: #fff;
}

.text-block-30 {
  font-size: 40px;
}

.title {
  margin-top: 0px;
  font-family: Anton, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.title.country-title {
  color: #fff;
}

.title.range-title {
  color: #424143;
}

.county-household-info {
  border-right: 1px none #000;
  background-color: hsla(0, 0%, 100%, 0);
}

.pm1-range {
  border-right: 1px none #000;
}

.pm2-5-range {
  border-right: 1px none #000;
}

.pm10-range {
  border-right: 1px none #000;
}

.resources-grid {
  margin-right: 0%;
  padding-right: 0%;
  padding-left: 0%;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-5 {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  margin-left: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #ececec;
}

.country-container {
  max-width: 1100px;
  margin-bottom: 51px;
}

.county-info {
  margin-top: 47px;
}

.country-last-updated {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.text-block-33 {
  font-size: 40px;
}

.country {
  color: #424143;
  font-size: 32px;
}

.country-card-grid {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.country-text-block {
  margin-top: 0px;
  margin-bottom: 62px;
}

.county-monitored {
  height: 400px;
  padding-top: 160px;
  background-color: #2fb56b;
  color: #f1f1f1;
}

.country-card {
  display: block;
  margin-left: 0px;
  padding-top: 160px;
  background-color: #164b3e;
  color: #e9e9e9;
}

.footer-grid {
  padding-right: 0%;
  padding-left: 0%;
  -ms-grid-columns: 1fr 1.1fr 1fr;
  grid-template-columns: 1fr 1.1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.chart-grid {
  overflow: auto;
  width: auto;
  max-width: none;
  min-width: auto;
  padding-right: 0%;
  padding-left: 0%;
  grid-column-gap: 16px;
  grid-row-gap: 10em;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.chart-card-embed {
  width: auto;
}

.grid-21 {
  -ms-grid-columns: 0.25fr 1fr;
  grid-template-columns: 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.list-item-12 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
}

.list-item-13 {
  list-style-type: none;
}

.list-item-14 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style-type: none;
}

.list-item-15 {
  list-style-type: none;
}

.list-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.list-item-16 {
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 700;
  list-style-type: none;
}

.list-item-17 {
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
}

.list-item-18 {
  padding-right: 20px;
  padding-left: 20px;
  list-style-type: none;
}

.list-item-19 {
  list-style-type: none;
}

.list-item-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 400px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  list-style-type: none;
}

.list-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  padding-right: 20px;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.form-block-3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.link-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.link-3 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.link-4 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.link-5 {
  color: #fff;
  text-decoration: none;
}

.image-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-field-2 {
  width: auto;
  max-width: 100%;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.select-form {
  margin-top: -5px;
  margin-bottom: 0px;
}

.select-field-3 {
  width: 250px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px;
  -webkit-transition: opacity 200ms ease, opacity 200ms ease;
  transition: opacity 200ms ease, opacity 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #424143;
  font-size: 14px;
  font-weight: 700;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #2fb56b;
}

.nav-link-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 16px 0px 7px;
  border-style: none solid none none;
  border-width: 1px;
  border-color: #fff;
  font-family: Anton, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: normal;
  text-transform: none;
}

.nav-link-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 16px;
  border-right: 1px solid #fff;
  font-family: Anton, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.nav-link-4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 16px;
  border-right: 1px solid #fff;
  font-family: Anton, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.nav-link-5 {
  margin-top: 10px;
  margin-bottom: 8px;
  padding: 0px 16px 0px 14px;
  font-family: Anton, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.logo {
  margin-top: 0px;
  margin-bottom: 0px;
}

.brand {
  margin-top: 10px;
}

.navbar-container {
  max-width: 1100px;
  font-family: Anton, sans-serif;
}

.resources-container {
  max-width: 1165px;
  padding-right: 0%;
  padding-left: 0%;
}

.footer-container {
  max-width: 1100px;
}

.chart-container {
  max-width: 1100px;
}

.form-block-4 {
  margin-right: 25px;
  margin-left: 25px;
}

.bold-text-2 {
  font-size: 18.24px;
  font-weight: 800;
}

.bold-text-3 {
  color: #424143;
}

.bold-text-4 {
  color: #424143;
}

.text-block-34 {
  margin-bottom: 16px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.text-block-35 {
  line-height: 18px;
}

.text-block-36 {
  margin-top: 16px;
  line-height: 25px;
  text-align: left;
}

.text-block-37 {
  margin-top: 16px;
  line-height: 25px;
  text-align: left;
}

.div-block-6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-block-7 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-block-8 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.div-block-9 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .paragraph {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 13.6px;
  }

  .paragraph-2 {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13.6px;
  }

  .button {
    margin-bottom: 20px;
  }

  .button.read-more-button {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button.subscribe-btn {
    padding-right: 18px;
    padding-left: 18px;
  }

  .card-grid {
    margin-top: 0px;
  }

  .button-2 {
    font-weight: 800;
  }

  .text-field {
    padding-right: 40px;
    padding-left: 100px;
  }

  .grid-10 {
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .list-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .contry-section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .resources-grid {
    display: block;
  }

  .about {
    padding-right: 0px;
    padding-left: 0px;
    border-style: solid none;
    border-top-width: 1px;
    border-top-color: #fff;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
  }

  .country-card {
    padding-right: 0px;
  }

  .footer-grid {
    display: block;
    padding-right: 0%;
    padding-left: 0%;
  }

  .chart-grid {
    display: block;
  }

  .funded-by {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contact-us {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nav-menu {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 100%;
    max-height: none;
    min-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #000;
    opacity: 0.56;
  }

  .nav-menu.mobile-overlay {
    height: 100%;
    min-width: 100%;
  }

  .select-form {
    display: block;
    width: auto;
    padding-right: 20px;
    padding-left: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .select-field-3 {
    width: 100%;
    background-color: #fff;
  }

  .navbar {
    position: -webkit-sticky;
    position: sticky;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: auto;
    height: auto;
  }

  .nav-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .logo {
    margin-top: -3px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }

  .icon {
    margin-top: 10px;
    box-shadow: 1px 1px 3px 0 #000;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    background-clip: content-box;
  }

  .menu-button {
    background-color: #2fb56b;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
  }

  .menu-button.w--open {
    z-index: 999;
    padding-top: 18px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-container {
    background-color: #2fb56b;
    background-clip: border-box;
  }

  .footer-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .select {
    max-width: none;
  }

  .form-block-4 {
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 220px;
    padding-left: 220px;
  }

  .lottie-hambuger {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .footer {
    padding: 40px 0px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .paragraph {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13.6px;
  }

  .paragraph-2 {
    font-size: 13.6px;
  }

  .button {
    margin-bottom: 10px;
  }

  .button.read-more-button {
    margin-bottom: 10px;
  }

  .card-grid {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .text-block {
    margin-top: 10px;
  }

  .range-grid {
    display: block;
  }

  .resources-grid {
    display: block;
  }

  .about {
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid none;
    border-width: 1px;
    border-color: #fff #000;
  }

  .country-card-grid {
    display: block;
  }

  .county-monitored {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .country-card {
    height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-grid {
    display: block;
    padding-right: 0%;
    padding-left: 0%;
  }

  .funded-by {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contact-us {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .grid-21 {
    -ms-grid-columns: 0.25fr 1.25fr;
    grid-template-columns: 0.25fr 1.25fr;
  }

  .nav-menu {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
  }

  .nav-link-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .nav-link-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .logo {
    padding-left: 0px;
  }

  .icon {
    margin-top: 10px;
  }

  .menu-button {
    z-index: 999;
    margin-top: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .footer-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .form-block-4 {
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .footer {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
    padding-left: 10px;
    font-size: 22.72px;
    font-weight: 700;
  }

  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 13.6px;
  }

  .paragraph-2 {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 13.6px;
  }

  .button {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .button.read-more-button {
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    font-weight: 800;
  }

  .button.subscribe-btn {
    margin-right: 15px;
    margin-left: 15px;
  }

  .card-grid {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bold-text {
    font-size: 16px;
    font-weight: 800;
  }

  .text-field {
    display: block;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0%;
    padding-bottom: 30px;
    padding-left: 35%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }

  .list-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
  }

  .description {
    margin-right: 20px;
    margin-left: 20px;
  }

  .title {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
  }

  .country-card-grid {
    display: block;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .county-monitored {
    height: 350px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 140px;
  }

  .country-card {
    display: block;
    height: 350px;
    margin: 0px auto;
    padding-top: 100px;
  }

  .chart-grid {
    padding-right: 1%;
    padding-left: 1%;
  }

  .select-form {
    padding-left: 0px;
  }

  .logo {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0px;
    color: #fff;
  }

  .icon {
    margin-top: 20px;
    font-size: 30px;
  }

  .footer-container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .form-block-4 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .bold-text-2 {
    font-size: 18px;
  }

  .form-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

