.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 0px 20px;
  background-color: #2fb56b;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.25fr -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr 0.25fr;
  -ms-grid-columns: 0.25fr max-content max-content max-content 0.25fr 0.25fr;
  grid-template-columns: 0.25fr -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr 0.25fr;
  grid-template-columns: 0.25fr max-content max-content max-content 0.25fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  color: #444;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.form-block {
  position: static;
}

.footer {
  width: auto;
  min-width: 1080px;
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-right: 1px none #fff;
  background-color: #424143;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 350px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 10px;
  padding-left: 0px;
  border-right: 1px none #000;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  border-left: 1px none #fff;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.div-block {
  display: block;
  min-width: 300px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.div-block-2 {
  margin-left: 1px;
  padding-left: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.div-block-3 {
  margin-right: 20px;
  padding-right: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.paragraph {
  padding-right: 0px;
  padding-left: 0px;
  background-color: transparent;
  text-align: center;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  margin: 43px 5px 45px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.button {
  width: auto;
  margin-left: 0px;
  padding: 10px;
  background-color: #2a2a2b;
  font-size: 20px;
  text-align: center;
}

.list-item {
  text-align: center;
}

.columns {
  margin: 48px 80px;
}

.div-block-4 {
  position: static;
  right: 0px;
  z-index: auto;
  overflow: hidden;
  height: 228px;
  padding: 16px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 27.5px;
  text-align: center;
}

.body {
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  line-height: 30px;
  text-align: center;
}

.text-block {
  position: relative;
  margin-top: 16px;
  font-family: Anton, sans-serif;
}

.button-2 {
  margin-top: 19px;
  background-color: #2fb56b;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.section {
  margin-top: 118px;
  margin-bottom: 0px;
  padding-bottom: 44px;
  border-style: none;
  border-width: 1px;
  border-color: #000 #2b2b2b #000 #000;
  font-size: 22.4px;
}

.bold-text {
  position: static;
  padding-left: 0px;
}

.text-field {
  padding: 30px 90px 30px 16px;
}

.grid {
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-3 {
  -ms-grid-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 1fr;
  grid-template-columns: 0.5fr 0.25fr 0.25fr 0.25fr 0.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  width: 100%;
  height: auto;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -ms-grid-columns: 0.25fr 0.75fr 0.5fr;
  grid-template-columns: 0.25fr 0.75fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  font-family: Anton, sans-serif;
}

.list-item-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  list-style-type: none;
}

.list-item-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading {
  background-color: transparent;
  color: #fff;
}

.list-item-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-item-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-item-6 {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.list-item-7 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-2 {
  color: #fff;
}

.heading-3 {
  color: #fff;
}

.heading-4 {
  color: #fff;
}

.image {
  max-width: 60%;
  margin: auto auto auto 0px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-5 {
  margin-bottom: 40px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6 {
  width: 100%;
  -ms-grid-columns: 1fr 1.2fr 1fr;
  grid-template-columns: 1fr 1.2fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.grid-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.grid-10 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.list-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.list-item-8 {
  width: 60px;
  list-style-type: none;
}

.list-item-9 {
  width: 40px;
  list-style-type: none;
}

.list-item-10 {
  width: 40px;
  list-style-type: none;
}

.list-item-11 {
  width: 40px;
  list-style-type: none;
}

.image-2 {
  margin-right: 0px;
  padding-right: 0px;
}

.container-2 {
  overflow: hidden;
  max-width: 100%;
  margin-top: 10px;
  padding-right: 8%;
  padding-bottom: 10px;
  padding-left: 8%;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
}

.text-block-4 {
  font-family: Montserrat, sans-serif;
}

.text-block-5 {
  font-family: Montserrat, sans-serif;
}

.text-block-6 {
  font-family: Montserrat, sans-serif;
}

.grid-11 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-12 {
  grid-row-gap: 0px;
  grid-template-areas: "."
    "."
    "."
    "."
    "."
    "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 14px 0px 40px 0px 14px 0px 40px 0px 14px 0px 40px;
  grid-template-rows: 14px 40px 14px 40px 14px 40px;
  border-right: 1px none #ccc7c7;
  text-align: left;
}

.text-block-7 {
  border-right: 1px none #030303;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.text-block-8 {
  font-family: Montserrat, sans-serif;
  color: green;
  font-size: 22.4px;
}

.text-block-9 {
  height: auto;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
  white-space: normal;
}

.grid-13 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.italic-text {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.italic-text-2 {
  font-family: Montserrat, sans-serif;
  font-size: 22.4px;
  font-weight: 400;
}

.text-block-10 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.grid-14 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.text-block-11 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.div-block-5 {
  border-right: 1px solid #ccc7c7;
}

.italic-text-3 {
  color: #2fb56b;
}

.text-block-12 {
  padding-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.text-block-13 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.text-block-14 {
  color: #2fb56b;
  font-size: 22.4px;
}

.italic-text-4 {
  font-family: Montserrat, sans-serif;
}

.text-block-15 {
  font-family: Montserrat, sans-serif;
  font-size: 22.4px;
}

.text-block-16 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 22.4px;
}

.grid-15 {
  grid-auto-flow: row;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.text-block-17 {
  font-family: Montserrat, sans-serif;
}

.text-block-18 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 20.4px;
}

.text-block-19 {
  font-family: Montserrat, sans-serif;
}

.text-block-20 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
  font-size: 20.4px;
}

.text-block-21 {
  font-family: Montserrat, sans-serif;
  color: #2fb56b;
}

.text-block-22 {
  font-family: Montserrat, sans-serif;
}

.text-block-23 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.text-block-24 {
  height: auto;
  max-width: none;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  font-family: Anton, sans-serif;
  font-size: 32px;
  -o-object-fit: contain;
  object-fit: contain;
}

.container-3 {
  max-width: 100%;
  padding-right: 8%;
  padding-left: 8%;
}

.select-field {
  max-width: 240px;
  margin: auto 0px auto auto;
  font-family: Anton, sans-serif;
}

.grid-16 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 100fr;
  grid-template-rows: 100fr;
}

.container-4 {
  margin-right: auto;
  margin-left: auto;
}

.text-block-27 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 15px;
}

.text-block-28 {
  font-size: 40px;
}

.text-block-29 {
  margin-top: 16px;
  font-family: Montserrat, sans-serif;
}

.text-block-30 {
  font-size: 40px;
}

.text-block-31 {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.div-block-6 {
  border-right: 1px none #000;
  background-color: hsla(0, 0%, 100%, 0);
}

.div-block-7 {
  border-right: 1px none #000;
}

.div-block-8 {
  border-right: 1px none #000;
}

.div-block-9 {
  border-right: 1px none #000;
}

.grid-17 {
  margin-right: 0%;
  padding-right: 8%;
  padding-left: 8%;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container-5 {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.div-block-10 {
  margin-left: 0px;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #ececec;
}

.container-6 {
  margin-bottom: 51px;
}

.section-2 {
  margin-top: 47px;
}

.text-block-32 {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.text-block-33 {
  font-size: 40px;
}

.text-block-34 {
  font-size: 32px;
}

.grid-18 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-11 {
  margin-top: -1px;
  margin-bottom: 62px;
}

.div-block-12 {
  height: 400px;
  padding-top: 160px;
  background-color: #2fb56b;
  color: #f1f1f1;
}

.div-block-13 {
  margin-left: 0px;
  padding-top: 160px;
  background-color: #164b3e;
  color: #e9e9e9;
}

.grid-19 {
  padding-right: 8%;
  padding-left: 8%;
  -ms-grid-columns: 1fr 1.1fr 1fr;
  grid-template-columns: 1fr 1.1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-20 {
  padding-right: 8%;
  padding-left: 8%;
  grid-row-gap: 72px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 991px) {
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .footer {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-logo-link {
    height: 60px;
  }

  .footer-heading {
    margin-top: 20px;
  }
}

